# Created by .ignore support plugin (hsz.mobi)
/bitrix/wizards/
/bitrix/updates/
/bitrix/tools/
/bitrix/tmp/
/bitrix/templates/eshop_adapt_blue/
/bitrix/templates/learning/
/bitrix/templates/desktop_app/
/bitrix/templates/.default/
/bitrix/stack_cache/
/bitrix/sounds/
/bitrix/panel/
/bitrix/otp/
/bitrix/modules/vote/
/bitrix/modules/webservice/
/bitrix/modules/advertising/
/bitrix/modules/translate/
/bitrix/modules/im/
/bitrix/modules/sale/
/bitrix/modules/statistic/
/bitrix/modules/forum/
/bitrix/modules/wiki/
/bitrix/modules/subscribe/
/bitrix/modules/highloadblock/
/bitrix/modules/bitrixcloud/
/bitrix/modules/mobileapp/
/bitrix/modules/form/
/bitrix/modules/learning/
/bitrix/modules/search/
/bitrix/modules/fileman/
/bitrix/modules/compression/
/bitrix/modules/eshopapp/
/bitrix/modules/perfmon/
/bitrix/modules/photogallery/
/bitrix/modules/bizprocdesigner/
/bitrix/modules/main/
/bitrix/modules/pull/
/bitrix/modules/blog/
/bitrix/modules/.htaccess
/bitrix/modules/mail/
/bitrix/modules/cluster/
/bitrix/modules/seo/
/bitrix/modules/currency/
/bitrix/modules/scale/
/bitrix/modules/socialnetwork/
/bitrix/modules/idea/
/bitrix/modules/socialservices/
/bitrix/modules/bizproc/
/bitrix/modules/workflow/
/bitrix/modules/security/
/bitrix/modules/calendar/
/bitrix/modules/support/
/bitrix/modules/lists/
/bitrix/modules/iblock/
/bitrix/modules/report/
/bitrix/modules/clouds/
/bitrix/managed_cache/
/bitrix/js/seo/
/bitrix/js/form/
/bitrix/js/learning/
/bitrix/js/forum/
/bitrix/js/fileman/
/bitrix/js/calendar/
/bitrix/js/currency/
/bitrix/js/bizproc/
/bitrix/js/socialservices/
/bitrix/js/security/
/bitrix/js/sale/
/bitrix/js/report/
/bitrix/js/search/
/bitrix/js/pull/
/bitrix/js/iblock/
/bitrix/js/main/
/bitrix/js/im/
/bitrix/js/scale/
/bitrix/js/advertising/
/bitrix/js/socialnetwork/
/bitrix/js/vote/
/bitrix/js/bitrixcloud/
/bitrix/js/mobileapp/
/bitrix/images/security/
/bitrix/images/calendar/
/bitrix/images/icons/
/bitrix/images/workflow/
/bitrix/images/forum/
/bitrix/images/1.gif
/bitrix/images/sale/
/bitrix/images/perfmon/
/bitrix/images/fileman/
/bitrix/images/form/
/bitrix/images/install/
/bitrix/images/mail/
/bitrix/images/learning/
/bitrix/images/advertising/
/bitrix/images/lists/
/bitrix/images/main/
/bitrix/images/statistic/
/bitrix/images/vote/
/bitrix/images/support/
/bitrix/images/currency/
/bitrix/images/socialservices/
/bitrix/images/translate/
/bitrix/images/search/
/bitrix/images/iblock/
/bitrix/images/seo/
/bitrix/images/bizproc/
/bitrix/images/blog/
/bitrix/images/socialnetwork/
/bitrix/image_uploader/aurigma.uploader.js
/bitrix/image_uploader/.htaccess
/bitrix/image_uploader/localization.php
/bitrix/image_uploader/flash/
/bitrix/image_uploader/aurigma.uploader.installationprogress.js
/bitrix/image_uploader/ImageUploader7.jar
/bitrix/image_uploader/bximageuploader.js
/bitrix/image_uploader/images/
/bitrix/image_uploader/ImageUploader7.cab
/bitrix/image_uploader/version.php
/bitrix/image_uploader/ImageUploader7_x64.cab
/bitrix/image_uploader/ImageUploader.jar
/bitrix/image_uploader/bximageuploader.css
/bitrix/image_uploader/iuembed.js
/bitrix/image_uploader/lang/
/bitrix/image_uploader/ImageUploader.cab
/bitrix/gadgets/
/bitrix/components/
/bitrix/cache/
/bitrix/admin/
/bitrix/activities/
/desktop_app/
.gitignore
.idea/.name
.idea/alfasintez.com.ua.iml
.idea/cssxfire.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
about/
auth/
bitrix/.access.php
bitrix/.settings.php
bitrix/activities/
bitrix/activity_limit.php
bitrix/admin/
bitrix/cache/
bitrix/catalog_export/
bitrix/click.php
bitrix/components/
bitrix/coupon_activation.php
bitrix/fonts/
bitrix/footer.php
bitrix/gadgets/
bitrix/header.php
bitrix/image_uploader/
bitrix/images/
bitrix/index.php
bitrix/js/
bitrix/license_key.php
bitrix/managed_cache/
bitrix/modules/
bitrix/otp/
bitrix/p3p.xml
bitrix/panel/
bitrix/php_interface/
bitrix/redirect.php
bitrix/rk.php
bitrix/rss.php
bitrix/services/
bitrix/sounds/
bitrix/spread.php
bitrix/stack_cache/
bitrix/template/
bitrix/templates/.default/
bitrix/templates/desktop_app/
bitrix/templates/eshop_adapt_blue/
bitrix/templates/learning/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
bitrix/updates/
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/wizards/
cgi-bin/
desktop_app/
login/
news/
personal/
search/
store/
upload/
webstat/
