/*---------- TYPO ----------*/
body{
    font-size: 16px;
}
/*---------- END TYPO ----------*/
/*---------- HEADER BLOCK ----------*/
.menu-items > .row > ul > li > a { display: block }
.menu-items > .row > ul > li { display: inline-block; }

#header-wrapper{
    background: rgba(255, 255, 255, 1) url("images/main-elements/header-bg.png") repeat scroll 0 0; 
}

#logo{
    display: block;
    background-image: url('images/main-elements/logo.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 132px;
}



/*---------- END HEADER BLOCK ----------*/

/*---------- CONTENT BLOCK ----------*/

.catalog-section-list > ul > li > a > h4{  }
.catalog-section-list > ul > li{ list-style: none; text-align: center; }
.main_category_img{}
.main_category_link{
    display: block;
    text-decoration: none;
}

/*---------- END CONTENT BLOCK ----------*/

/*---------- FOOTER BLOCK ----------*/
.copy{
    text-align: center;
}
/*---------- END FOOTER BLOCK ----------*/