/*---------- TYPO ----------*/
body{
    font-size: 16px;
    min-width: 1150px;
}

#wrapper{
    font-size:1em;
}

@font-face {
    font-family: PDD-itl; /* Имя шрифта */
    src: url(fonts/pfdindisplaypro-italic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: PDD-black; /* Имя шрифта */
    src: url(fonts/pfdindisplaypro-bold.ttf); /* Путь к файлу со шрифтом */
}
/*---------- END TYPO ----------*/
/*---------- HEADER BLOCK ----------*/


.menu-items > .row > ul > li > a { display: block }
.menu-items > .row > ul > li { display: inline-block; }



#header-wrapper{
    background: rgba(255, 255, 255, 1) url("images/main-elements/header-bg.png") repeat scroll 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo > * {
    text-align: center;
}

#logo{
    display: block;
}

.logo-img{
    width: 90%; height: auto;
}

.header-elements-wrapper{
    background: #fafcfd none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px 0 rgba(56, 94, 104, 0.26);
    color: #576e75;
    margin-top: -7%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 7%;
    white-space: nowrap;
    width: auto;
}

/*---------- MAIN MENU ----------*/
.menu-bg{
    background-color: #01465A;
}

.nav_menu{
    padding: 0;
    margin: 0;
}

.menu-item a{
    color: white;
}

.nav_menu li{
    display: inline-block;
    list-style: none;
    width: auto;
}

.sep-bg{
    background: #ff740a url("images/main-elements/menu-wrapper.png") repeat scroll 0 0 / 100% auto;
    height:3px;
}

.menu-item.current > a {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 -6px 0 -1px rgba(16, 202, 255, 1);
}

.menu-item > a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #01465A;
}

.menu-item > a {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    display: block;
    font-family: PDD-black;
    font-size: 1.2em;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}
/*---------- END MAIN MENU ----------*/



.top-menu a{}

.top-menu li{
    display: inline-block;
    list-style: none;
    width: auto;
}

.search{
    margin: 2%;
    width: 30%;
}

.bx_search_container {
    height: 30px;
    line-height: 50px;
    padding: 0 10px;
}


.phone-header p{
    margin-bottom: 0;
}
.phone-header.pull-left{
    font-family: PDD-itl;
    font-weight:bold;
    margin-left: 5%;
    font-size: 150%;
    color: #0078a6;
    margin-top: 1%;
}

.top-menu{
    margin-left: 2%;
}


/*---------- END HEADER BLOCK ----------*/

/*---------- CONTENT BLOCK ----------*/
#content{
    margin-bottom: 1%;
}



.catalog-section-list > ul > li > a > h4{  }
.catalog-section-list > ul > li { list-style: none; text-align: center; }
.catalog-section-list > ul  { margin: 0; padding: 0; }
.main_category_img{ width: 65%; height: auto}
.main_category_link:hover{
    opacity: 1;
    text-decoration: none;
}
.main_category_link{
    opacity: 0.8;
    display: block;
    text-decoration: none;
}

.about-wrapper{
    background: rgba(0, 0, 0, 0) url("images/lightblue_bg.png") repeat scroll 0 0;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.25) inset, 0 12px 11px -10px rgba(0, 0, 0, 0.2) inset;
}

.product-title{
    font-size: 150%;
}

/*---------- END CONTENT BLOCK ----------*/

/*---------- FOOTER BLOCK ----------*/
#footer-wrapper{
    background: rgba(255, 255, 255, 1) url("images/main-elements/header-bg.png") repeat scroll 0 0;
    text-align: left;
}

.lang-menu{
    font-size: 90% !important;
}

.footer-content, .footer-mail, .lang-menu, .footer-address  p{
    color: #ff9b08 !important;
    font-family: PDD-itl;
    font-size: 105%;
    font-weight: bold;
    text-decoration: none;
}

.footer-sep-blue{
    background:  #00BAEF;
    width: 100%;
    height: 10px;
    border-top: 1px solid #0e7da2;
}

.footer-sep{
    background: #ff740a url("images/main-elements/menu-wrapper.png") repeat scroll 0 0 / 100% auto;
    height: 3px;
    width: 100%;
}

.footer-content{
    position: relative;
    padding-top: 10px;
}

.copy{
    position: relative;
    color: rgba(6, 104, 174, 0.7);
    font-size: 75% !important;
    font-weight:bold;
    text-align: center !important;

    text-decoration: none;
    bottom: 0;
}

.footer-contacts{
    padding-left:3%;
}

.footer-mail, .footer-address{
    width: auto !important;
}

.phone-footer{
    width: 275px;
    margin-top:5%;
}

.footer-mail {
    margin-top: 2%;
    width: auto;
}

.footer-map img{
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.75);
}
.footer-map{
    width:350px;
    height: 110px;
    margin-top:-5.5%;
    margin-right:0.5%;
    overflow: hidden;
}


/*---------- END FOOTER BLOCK ----------*/